h1{
  margin-top: 4rem;
  text-align: center;
  font-weight: bolder
}


.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem; /* This ensures the container takes up the full height of the viewport */
}

.left-section,
.right-section {
  flex: 1;
}

.left-section {
  text-align: center;
}

.right-section {
  text-align: center;
}

.detect-item {
  /* margin: 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detect-item button {
  /* Initial styles */
  width: 200px;
  height: 40px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition */
  border-radius: 20px;

  /* Optional: Style the image inside the button */
  img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

#webcam {
  margin-top: 3rem;
}

.photo h2{
  margin: 3rem 0 3rem 0;
  font-size: 30px;
  img{
    height: 300px;
    width: auto;
  }
}

.photo-result h2{
  margin: 3rem 0 3rem 0;
  font-size: 40px;
  font-weight: bolder;
}

.photo-result p{
  font-size: 20px;
}

/* Add additional styling as needed */
.input input {
  margin-bottom: 10px; /* Add margin to create space between elements */
}

h4, h5, h2 {
  margin: 0;
  padding: 0;
}
