.marketplace {
  margin: 0 3rem 3rem 3rem;

  h2 {
    font-size: 50px;
    font-weight: bolder;
  }
}
.hero-heading {
  text-align: center;
  font-weight: bolder;
  color: #333; /* Dark text color */
  margin-top: 2rem; /* Adjusted top margin for better spacing */
  position: relative;
}

.hero-heading::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #A6D165; /* Accent color */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.marketplace p{
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin: 3rem;
}

.g-4 {
  Button {
    background-color: #47b685;
    font-size: 15px;
    font-weight: 700;
  }

  p{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin: 3rem;
  }
}
